body {
	font-family: Roboto, sans-serif;
	background-color: #1B6209;
}

#newGame {
	border: 2px solid blue;
	border-radius: 8px;
	color: navy;
	font-size: 120%;
	padding: .2em 1.22em;
	text-decoration: none;
}

#newGame:hover {
	background-color: navy;
	color: white;
	font-weight: 800;
}

#wrapper {
	background-color: #F1F1F1;
	border: 3px solid orange;
	border-radius: 8px;
	margin: auto;
	padding: 2em;
	width: 60%;
}