h1 {
	color: blue;
	font-size: 250%;
}

header p {
	font-size: 110%;
	padding-right: 3em;
}

input[type=button] {
	border-radius: 8px;
	padding: .4em;
}

input[type=button]:hover {
	background-color: darkgrey;
	border-color: darkgrey;
	color: white;
	font-weight: bold;
}

input, label, select {
	margin: 1em auto;
	width: 10em;
}

label {
	float: left;
	width: 8em;
}

legend {
	font-size: 150%;
}

#newGame {
	border: 2px solid blue;
	border-radius: 8px;
	color: navy;
	font-size: 120%;
	margin: auto .5em;
	padding: .5em;
	text-decoration: none;
}

#newGame:hover {
	background-color: navy;
	color: white;
	font-weight: 700;
}

/*
input, select {
	margin-bottom: 1em;
	margin-right: 1em;
	width: 10em;
}

.clear {
	clear: both;
}

#cards img {
	float: left;
	height: 100px;
	padding-bottom: 3px;
	padding-right: 5px;
	width: 80px;
}

#new_game, #player, #high_score, #correct {
	float: left;
}

.memory-game {
	font-size: 0;
}

.memory-game-inner {
	margin: 0 auto;
	padding: 0;
	width: 100%;
	text-align: center;
}

.memory-card-container {
	display: inline-block;
	position: relative;
}

.memory-card-container a.front .back, .memory-card-container a.back .front {
	display: none;
}

.memory-card-container a.front .front, .memory-card-container a.back .back {
	display: block;
}

.memory-card-wrapper {
	position: absolute;
	top: 50%;
	left: 50%;
}

.memory-card-container a {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	padding: 0;
}

.memory-card-container, .memory-card-container * {
	will-change: transform;
}

.card {
	border-radius: 6px;
	border-width: 2px;
	border-style: solid;
}

.card.front {
	border-color: black;
}

.card.back {
	border-color: #666;
	background-color: #ddd;
}
*/

#new_game, #player, #high_score, #correct {
	float: left;
}
#cards img {
    height: 100px;
    width: 80px;
    padding-right: 5px;
    padding-bottom: 3px;
    float: left; 
}
.clear {
    clear: both;
}
#cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#cards > div{
    width: 12.5%;
    padding: 2px;
    box-sizing: border-box;
    position: relative;
}
#cards > div img{
    width: 100%;
    height: 100%;
}

#cards > div.matched {
    opacity: 0;
}
#cards > div img:not(.back){
    max-height: 122px;
    border-radius: 15px;
}
#cards > div .back{
    position: absolute;
    transition: 0.5s;
    opacity: 1;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    
}
#cards > div .back.selected{
    pointer-events: none;
    transform: rotateY(180deg);
    opacity: 0;
}
#cards > div .back.selected.hide{
    opacity: 0;
}